.Container_subscription {

    height: 60vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Wrapper {

    display: flex;
    text-align: center;
    justify-content: space-between;
}