.container_productpage{

    display:flex;
    padding:30px;
  
}


.image_class{

    flex:1;
    width:100%;

}

.info_class{

    flex:1;
}

.product_span{
    margin-bottom: 30px;
}

.container_select{
    display:flex;
    justify-content: space-between;
    width:50%;
    text-align: center;
    
}
.color_class{
    display: flex;
    align-items: center;

}

.size_class{
    display:flex;
    align-items: center;


}
.color_product{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: blue;

    margin-left: 10px;
}

.title{
    font-size: 30px;
    font-weight:200;
}

.option_product{
    margin-left: 10px;
    padding:8px;
}

.increment{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:50%;

}